$mds1: 1200px;
$mds2: 992px;
$mds3: 768px;
$mds4: 576px;

$cont_width: 1150;

:root {
  --black: #000000;
  --white: #ffffff;
  --white-100: #f2f2f2;
  --blue-100: #1698d9;
  --blue-200: #22a7e9;
  --blue-hover: #2ea8e6;
  --gray-100: #666666;
  --pink-100: #d91667;
  --pink-hover: #e52e7a;
}
